<table class="positions">
    <tbody></tbody>
</table>

<a class="btn btn-danger" onclick="$('.positions tr').remove()" style="position: fixed; bottom: 0; right: 0;">Clear</a>
<a class="btn btn-primary" onclick="Position(lastMark.lat, lastMark.lng)" style="position: fixed; bottom: 0; left: 0;">Mark</a>
<style>
    .positions {
        width: 100%;
        font-size: 12px;
    }

        .positions td {
            border: 1px solid #000;
            padding: 0 5px;
        }
</style>
<script src="~/Content/gps_math.js"></script>
<script>
    var lastMark = { lat: -27.635424331918777, lng: -54.13765009492636 };
    $(function () {
        Connect();
    });

    mobile = (/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase()));
    var ws;
    var url = window.location.host + "@Url.Content("~/WSHandler.ashx")";

    if (navigator.geolocation) {
        if (mobile)
            navigator.geolocation.watchPosition(geo_success, geo_error, { enableHighAccuracy: true, maximumAge: Infinity, timeout: 0 });
        else
            navigator.geolocation.getCurrentPosition(geo_success, geo_error);
    }
    //if (navigator.geolocation) {
    //setInterval(function () {
    //    navigator.geolocation.getCurrentPosition(geo_success, geo_error);
    //}, 2000);
    //}

    function geo_success(position) {
        Position(position.coords.latitude, position.coords.longitude);
    }

    function Position(latitude, longitude) {
        index = $('.positions tr').length;
        $('.positions tbody').append($('<tr><td>' + index + '</td><td>' + latitude + '</td><td>' + longitude + '</td></tr>'));

        center = { lat: latitude, lng: longitude };
        var obj = {
            position: center,
            type: 'mobile',
            points: new_point(lastMark, center),
        }
        var message = JSON.stringify(obj);
        //ws.send(message);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Position", "Map")',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: { message: message },
            success: function (response) {
                console.log(response);
            }, error: function (error) {
                $('.positions tbody').append($('<tr><td colspan="3">' + error.responseText + '</td></tr>'));
            }
        });
        lastMark = center;
    }
    function geo_error(error) {
        console.log(error);
        $('.positions tbody').append($('<tr><td colspan="3">' + error.message + '</td></tr>'));
    }

    function Connect() {
        try {
            ws = new WebSocket("ws://" + url);
        } catch (error) { console.log(error); }

        ws.onmessage = function (event) { console.log(event); };
        ws.onerror = function (event) { console.log(event); };
        ws.onopen = function (event) { console.log(event); };
        ws.onclose = function (event) { console.log(event); };
    }

    function new_point(p1, p2) {
        //addPolyline(p1, p2);
        lat1 = p1.lat;
        lng1 = p1.lng;
        lat2 = p2.lat;
        lng2 = p2.lng;

        brng = bearing(lat1, lng1, lat2, lng2);
        _p = points_of_square(lat1, lng1, lat2, lng2, brng, 15 / 2);
        //console.log(point);
        return { p1: _p[0], p2: _p[1], p3: _p[2], p4: _p[3] };
    }
</script>
