<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div id="map" style="width: 100%; height: 400px;"></div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2">Largura:</div>
                    <div class="col-md-3">
                        <input type="number" class="form-control" placeholder="Largura" id="largura" />
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-success" onclick="clearMarkers()">Limpar</a>
                        <a class="btn btn-success" id="stop">Parar</a>
                    </div>
                </div>
                <br />
                <div class="row">
                    @*<div class="col-md-4">
                            <input type="text" class="form-control" id="navegar" placeholder="Navegar" />
                        </div>*@
                    <div class="col-md-6">
                        <input type="number" class="form-control" id="velocidade" placeholder="Velocidade" />
                    </div>
                    <div class="col-md-6">
                        <input type="number" class="form-control" id="inclinacao" placeholder="Inclinação" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div id="bl">
                            <div id="block">
                                <div class="a">A</div>
                                <div class="b">B</div>
                                <div class="c">C</div>
                                <div class="d">D</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" style="padding: 0;">
                        <ul id="block_p" style="list-style: none; padding: 0;"></ul>
                    </div>
                    <style>
                        #bl {
                            width: 200px;
                            height: 200px;
                            border: 1px solid;
                            position: relative;
                            padding: 50px;
                            /*background-size: 100% 1em;
                            background-image: linear-gradient(0deg, transparent 80px, #000000 80px, #000000 80px, transparent 80px), linear-gradient(#000 0.05em, transparent .05em);*/
                        }

                        #block {
                            width: 100px;
                            height: 100px;
                            border: 1px solid;
                            transform: rotate(0deg);
                            font-weight: bold;
                        }

                            #block > div {
                                width: 1px;
                                height: 1px;
                                border: 5px solid;
                                position: absolute;
                            }

                            #block > .a {
                                left: 0;
                                top: 0;
                            }

                            #block > .b {
                                right: 0;
                                top: 0;
                            }

                            #block > .c {
                                left: 0;
                                bottom: 0;
                            }

                            #block > .d {
                                bottom: 0;
                                right: 0;
                            }
                    </style>
                    <script>
                        function margins() {
                            var _s = 10000;
                            $('#block_p').html('');
                            $('#block > div').each(function (index, item) {
                                var top = $(item).position().top;
                                top = Math.round(top * _s) / _s;
                                var left = $(item).position().left;
                                left = Math.round(left * _s) / _s;
                                var text = $(item).text();
                                var txt = text + ' = top: ' + top + ', left: ' + left;
                                $('#block_p').append($('<li>' + txt + '</li>'));
                                console.log(txt);
                            });
                            console.log('______________________________________');
                        }

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/site.js"></script>

<script type="text/javascript">
    var canMark = false;
    var dif = mtr_grau(15); //-0.000021457672119140625;
    var grau = mtr_grau(5);

    $(function () {
        //Marker(center);
        $('#largura').val(width);
        $('#velocidade').val(grau_mtr(dif));
        $('#inclinacao').val(grau_mtr(grau));
        $('#largura').change(function (event) {
            width = parseInt($(this).val());
        });
        $('#velocidade').change(function (event) {
            dif = mtr_grau(parseFloat($(this).val()));
        });
        $('#inclinacao').change(function (event) {
            var val = $(this).val();
            grau = mtr_grau(parseInt($(this).val()));
            $('#block').attr('style', 'transform: rotate(' + val + 'deg);');
            margins();
        });

        $('#stop').click(function () {
            canMark = false;
        });

    });
    $(document).on('keydown1', '#navegar, body', function (event) {//keyup keypress
        //console.log(event);
        var lat = center.lat;
        var lng = center.lng;
        switch (event.keyCode) {
            case 37:
                lng = lng - dif;
                break;
            case 38:
                lat = lat + dif;
                break;
            case 39:
                lng = lng + dif;
                break;
            case 40:
                lat = lat - dif;
                break;
        }
        center = { lat: lat, lng: lng };
        map.setCenter(center);
        addMarker(center);
    });

    map.addListener("mousemove", function (event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        if (canMark)
            addMarker({ lat: lat, lng: lng });
    });

    map.addListener("click", function (event) {
        canMark = false;//!canMark;
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        center = { lat: lat, lng: lng };
        map.setCenter(center);
        CalculaDistancia(last_marker, center);
        addPolygon(center);
        addMarker(center);
        last_marker = center;
    });

    function CalculaDistancia(p1, p2) {
        var ca = p1.lat - p2.lat;
        ca = ca < 0 ? ca * -1 : ca;
        var co = p1.lng - p2.lng;
        co = co < 0 ? co * -1 : co;
        var hip = Math.pow(ca, 2) + Math.pow(co, 2);
        hip = hip < 0 ? hip * -1 : hip;
        hip = Math.sqrt(hip);
        console.log('ca: ' + ca + ', co: ' + co + ', hip: ' + hip);
        //var m = grau_mtr(hip);
        //console.log(m);
        addPolyline(p1, p2);
        addPolyline(p2, { lat: p1.lat, lng: p2.lng });
        addPolyline(p2, { lat: p2.lat, lng: p1.lng });
        addPolyline(p1, { lat: p1.lat, lng: p2.lng });
        addPolyline(p1, { lat: p2.lat, lng: p1.lng });
        seno = ca / hip;
        seno = Math.round(seno * 1000) / 1000;
        cosseno = co / hip;
        cosseno = Math.round(cosseno * 1000) / 1000;
        tangente = ca / co;
        tangente = Math.round(tangente * 1000) / 1000;

        console.log('seno: ' + seno + ', cosseno: ' + cosseno + ', tangente: ' + tangente);
    }

    function getDegTan(deg) {
        var rad = deg * Math.PI / 180;
        return Math.tan(rad);
    }

    function getTanDeg(tan) {
        var rad = Math.tan(tan);
        var rad = tan * Math.PI / 180;
        return Math.tan(rad);
    }

</script>
Seno = Cateto oposto/hipotenusa
Cosseno = Cateto adjacente/hipotenusa
Tangente = cateto oposto/cateto adjacente